.shop{
  border: 4px solid rgb(241, 62, 122);
  width: 620px;
  height: 580px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.app{
  background: url(/images/50.jpg); 
  background-size: cover;

}


